header{
    background: linear-gradient(to right, #4d88ff, #2d004d);
}

.day{
    margin:2px;
    background: #274050;
}

button {
    margin-top:5px;
    margin-bottom:5px;
}

div{
    font-weight: bold;
}